In [1]:
import pandas as pd
from datetime import date 

path='C:\\Users\\Siddhant\\Documents\\' # --> Specifying the path

df_amibroker_positions=pd.read_csv(path+'D7 Amibroker Positions.csv') # --> read_csv_file from amibroker software

In [2]:
#dropping sepcific clients

df_amibroker_positions=df_amibroker_positions.drop(df_amibroker_positions[(df_amibroker_positions['Client']==11866) | (df_amibroker_positions['Client']==90197) |(df_amibroker_positions['Client']==9771) |(df_amibroker_positions['Client']==90245) |(df_amibroker_positions['Client']==13598)].index)

# changing datdtype of 'expiry date'

df_amibroker_positions['Expiry']=pd.to_datetime(df_amibroker_positions['Expiry'])

# arranging it in required format

df_amibroker_positions['Expiry']=df_amibroker_positions['Expiry'].dt.strftime('%d-%b-%Y')

C:\Users\Siddhant\AppData\Local\Temp\ipykernel_10576\3901474614.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_amibroker_positions['Expiry']=pd.to_datetime(df_amibroker_positions['Expiry'])

In [3]:
# confirming datatype change

print(df_amibroker_positions['Expiry'].info())

#adding new column 
df_amibroker_positions['Type']='AMI'

#printing
df_amibroker_positions

<class 'pandas.core.series.Series'>
RangeIndex: 367 entries, 0 to 366
Series name: Expiry
Non-Null Count  Dtype
--------------  -----
367 non-null    object
dtypes: object(1)
memory usage: 3.0+ KB
None

,Client,Expiry,Strike Price,Option Type,Net Qty,Strategy,Symbol,Type
0,6760,10-Jan-2024,47800,CE,-90,BNMS_1,BANKNIFTY,AMI
1,6760,10-Jan-2024,47800,PE,-180,BNMS_1,BANKNIFTY,AMI
2,6760,10-Jan-2024,47800,CE,-120,BNMS_2,BANKNIFTY,AMI
3,6760,10-Jan-2024,47800,PE,-240,BNMS_2,BANKNIFTY,AMI
4,6760,10-Jan-2024,47600,CE,-60,BNMS_3,BANKNIFTY,AMI
...,...,...,...,...,...,...,...,...
362,3625,10-Jan-2024,47900,CE,-60,BNMS_9,BANKNIFTY,AMI
363,3625,10-Jan-2024,47900,PE,-60,BNMS_9,BANKNIFTY,AMI
364,3625,11-Jan-2024,21650,CE,-100,NMS_1,NIFTY,AMI
365,3625,11-Jan-2024,21650,PE,-200,NMS_1,NIFTY,AMI
366,3625,09-Jan-2024,21400,PE,-40,FNMS_1,FINNIFTY,AMI

In [4]:
# read positions from trading terminal

df1_ctcl_positions=pd.read_csv(path+'Net Position.txt',sep="\t")

df1_ctcl_positions

,Check,Exchange,ScripCode,User,Client,ClientName,MktSeg,InstrumentName,Symbol,Ser_Exp,...,CumProduct,BuyVal_Incl_Strike,SellVal_Incl_Strike,NetVal_Incl_Strike,PrvClose,MTMG_L_PrvClose,OpenAmt,OpenQty,TransType,Pro/Cli
0,NaN,NSE,50469.0,1012.0,3542.0,sidhhant kankani huf,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,2.906200e+06,2.895096e+06,1.110375e+04,631.95,0.0,0.0,0.0,NaN,CLI
1,NaN,NSE,50469.0,1012.0,3542.0,sidhhant kankani huf,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,2.893029e+06,2.900145e+06,-7.116000e+03,631.95,0.0,0.0,0.0,NaN,CLI
2,NaN,NSE,50469.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,5.799164e+06,5.797416e+06,1.748250e+03,631.95,0.0,0.0,0.0,NaN,CLI
3,NaN,NSE,50469.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,2.906204e+06,2.895330e+06,1.087425e+04,631.95,0.0,0.0,0.0,NaN,CLI
4,NaN,NSE,50469.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,2.906131e+06,2.895153e+06,1.097775e+04,631.95,0.0,0.0,0.0,NaN,CLI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,NaN,NSE,40754.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,5.436220e+06,7.611535e+06,-2.175315e+06,53.00,-8245.0,0.0,0.0,NaN,CLI
1277,NaN,NSE,40756.0,1012.0,3618.0,M/S DAVRS INVESTMENTS,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,4.364545e+06,4.363180e+06,1.365000e+03,40.05,0.0,0.0,0.0,NaN,CLI
1278,NaN,NSE,40754.0,1012.0,3583.0,aureum indiaciap llp,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,5.436220e+06,7.611520e+06,-2.175300e+06,53.00,-8245.0,0.0,0.0,NaN,CLI
1279,NaN,NSE,40756.0,1012.0,3618.0,M/S DAVRS INVESTMENTS,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,3.264600e+06,3.268928e+06,-4.327500e+03,40.05,0.0,0.0,0.0,NaN,CLI
1280,NaN,Total :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.689022e+09,5.799016e+09,-1.109994e+09,NaN,3514998.0,NaN,NaN,NaN,NaN

In [5]:
# exporting it to csv

df1_ctcl_positions.to_csv(path+'Net_Position.csv')
df1_ctcl_positions

,Check,Exchange,ScripCode,User,Client,ClientName,MktSeg,InstrumentName,Symbol,Ser_Exp,...,CumProduct,BuyVal_Incl_Strike,SellVal_Incl_Strike,NetVal_Incl_Strike,PrvClose,MTMG_L_PrvClose,OpenAmt,OpenQty,TransType,Pro/Cli
0,NaN,NSE,50469.0,1012.0,3542.0,sidhhant kankani huf,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,2.906200e+06,2.895096e+06,1.110375e+04,631.95,0.0,0.0,0.0,NaN,CLI
1,NaN,NSE,50469.0,1012.0,3542.0,sidhhant kankani huf,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,2.893029e+06,2.900145e+06,-7.116000e+03,631.95,0.0,0.0,0.0,NaN,CLI
2,NaN,NSE,50469.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,5.799164e+06,5.797416e+06,1.748250e+03,631.95,0.0,0.0,0.0,NaN,CLI
3,NaN,NSE,50469.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,2.906204e+06,2.895330e+06,1.087425e+04,631.95,0.0,0.0,0.0,NaN,CLI
4,NaN,NSE,50469.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,2.906131e+06,2.895153e+06,1.097775e+04,631.95,0.0,0.0,0.0,NaN,CLI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,NaN,NSE,40754.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,5.436220e+06,7.611535e+06,-2.175315e+06,53.00,-8245.0,0.0,0.0,NaN,CLI
1277,NaN,NSE,40756.0,1012.0,3618.0,M/S DAVRS INVESTMENTS,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,4.364545e+06,4.363180e+06,1.365000e+03,40.05,0.0,0.0,0.0,NaN,CLI
1278,NaN,NSE,40754.0,1012.0,3583.0,aureum indiaciap llp,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,5.436220e+06,7.611520e+06,-2.175300e+06,53.00,-8245.0,0.0,0.0,NaN,CLI
1279,NaN,NSE,40756.0,1012.0,3618.0,M/S DAVRS INVESTMENTS,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,3.264600e+06,3.268928e+06,-4.327500e+03,40.05,0.0,0.0,0.0,NaN,CLI
1280,NaN,Total :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.689022e+09,5.799016e+09,-1.109994e+09,NaN,3514998.0,NaN,NaN,NaN,NaN

In [7]:
# deleting rows with net qty 0
df1_ctcl_positions=df1_ctcl_positions[df1_ctcl_positions['NetQty']!=0]

In [8]:
#print(df1_ctcl_positions)
df1_ctcl_positions.to_csv(path+'Net_Position.csv')
df1_ctcl_positions

,Check,Exchange,ScripCode,User,Client,ClientName,MktSeg,InstrumentName,Symbol,Ser_Exp,...,CumProduct,BuyVal_Incl_Strike,SellVal_Incl_Strike,NetVal_Incl_Strike,PrvClose,MTMG_L_PrvClose,OpenAmt,OpenQty,TransType,Pro/Cli
396,NaN,NSE,50396.0,1012.0,2003.0,m/s vinod biyani,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,4.312098e+06,5.737836e+06,-1.425738e+06,156.45,-6217.5,0.0,0.0,NaN,CLI
397,NaN,NSE,50396.0,1012.0,2003.0,m/s vinod biyani,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,4.312257e+06,5.737020e+06,-1.424763e+06,156.45,-6217.5,0.0,0.0,NaN,CLI
398,NaN,NSE,50396.0,1012.0,2003.0,m/s vinod biyani,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,4.312060e+06,5.738298e+06,-1.426238e+06,156.45,-6217.5,0.0,0.0,NaN,CLI
399,NaN,NSE,50396.0,1012.0,2051.0,biyani fin,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,4.312098e+06,5.737836e+06,-1.425738e+06,156.45,-6217.5,0.0,0.0,NaN,CLI
400,NaN,NSE,50396.0,1012.0,2051.0,biyani fin,O,OPTIDX,BANKNIFTY,10JAN2024,...,DELIVERY,4.312245e+06,5.737020e+06,-1.424775e+06,156.45,-6217.5,0.0,0.0,NaN,CLI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274,NaN,NSE,40754.0,1012.0,3542.0,sidhhant kankani huf,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,5.436220e+06,7.611722e+06,-2.175502e+06,53.00,-8245.0,0.0,0.0,NaN,CLI
1275,NaN,NSE,40754.0,1012.0,3542.0,sidhhant kankani huf,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,2.176055e+06,4.349440e+06,-2.173385e+06,53.00,-8245.0,0.0,0.0,NaN,CLI
1276,NaN,NSE,40754.0,1012.0,3577.0,quant orbit llp,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,5.436220e+06,7.611535e+06,-2.175315e+06,53.00,-8245.0,0.0,0.0,NaN,CLI
1278,NaN,NSE,40754.0,1012.0,3583.0,aureum indiaciap llp,O,OPTIDX,NIFTY,11JAN2024,...,DELIVERY,5.436220e+06,7.611520e+06,-2.175300e+06,53.00,-8245.0,0.0,0.0,NaN,CLI
1280,NaN,Total :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.689022e+09,5.799016e+09,-1.109994e+09,NaN,3514998.0,NaN,NaN,NaN,NaN

In [10]:

# Filtering out only the required columns
df1_ctcl_positions=df1_ctcl_positions[['Client','Ser_Exp','StrikePrice','OptionType','NetQty','Strategy','Symbol']]
df1_ctcl_positions

      Client    Ser_Exp  StrikePrice OptionType  NetQty Strategy     Symbol
396   2003.0  10JAN2024      47600.0         CE     -30   BNMS_3  BANKNIFTY
397   2003.0  10JAN2024      47600.0         CE     -30   BNMS_4  BANKNIFTY
398   2003.0  10JAN2024      47600.0         CE     -30   BNMS_5  BANKNIFTY
399   2051.0  10JAN2024      47600.0         CE     -30   BNMS_3  BANKNIFTY
400   2051.0  10JAN2024      47600.0         CE     -30   BNMS_4  BANKNIFTY
...      ...        ...          ...        ...     ...      ...        ...
1274  3542.0  11JAN2024      21650.0         CE    -100    NMS_3      NIFTY
1275  3542.0  11JAN2024      21650.0         CE    -100    NMS_6      NIFTY
1276  3577.0  11JAN2024      21650.0         CE    -100    NMS_3      NIFTY
1278  3583.0  11JAN2024      21650.0         CE    -100    NMS_3      NIFTY
1280     NaN        NaN          NaN        NaN  -33360      NaN        NaN

[368 rows x 7 columns]

In [11]:
# Renaming trading terminal columns as per amibroker software

df1_ctcl_positions=df1_ctcl_positions.rename(columns={'Ser_Exp':'Expiry','OptionType':'Option Type','StrikePrice':'Strike Price','NetQty':'Net Qty'})
df1_ctcl_positions

      Client     Expiry  Strike Price Option Type  Net Qty Strategy     Symbol
396   2003.0  10JAN2024       47600.0          CE      -30   BNMS_3  BANKNIFTY
397   2003.0  10JAN2024       47600.0          CE      -30   BNMS_4  BANKNIFTY
398   2003.0  10JAN2024       47600.0          CE      -30   BNMS_5  BANKNIFTY
399   2051.0  10JAN2024       47600.0          CE      -30   BNMS_3  BANKNIFTY
400   2051.0  10JAN2024       47600.0          CE      -30   BNMS_4  BANKNIFTY
...      ...        ...           ...         ...      ...      ...        ...
1274  3542.0  11JAN2024       21650.0          CE     -100    NMS_3      NIFTY
1275  3542.0  11JAN2024       21650.0          CE     -100    NMS_6      NIFTY
1276  3577.0  11JAN2024       21650.0          CE     -100    NMS_3      NIFTY
1278  3583.0  11JAN2024       21650.0          CE     -100    NMS_3      NIFTY
1280     NaN        NaN           NaN         NaN   -33360      NaN        NaN

[368 rows x 7 columns]

In [14]:
# changing data type of Expiry column

df1_ctcl_positions['Expiry']=pd.to_datetime(df1_ctcl_positions['Expiry'])
df1_ctcl_positions['Expiry']=df1_ctcl_positions['Expiry'].dt.strftime('%d-%b-%Y')

C:\Users\Siddhant\AppData\Local\Temp\ipykernel_10576\1747217601.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1_ctcl_positions['Expiry']=pd.to_datetime(df1_ctcl_positions['Expiry'])

In [15]:
# adding a new column to identify the file is from trading terminal

df1_ctcl_positions['Type']='CTCL'
df1_ctcl_positions

,Client,Expiry,Strike Price,Option Type,Net Qty,Strategy,Symbol,Type
396,2003.0,10-Jan-2024,47600.0,CE,-30,BNMS_3,BANKNIFTY,CTCL
397,2003.0,10-Jan-2024,47600.0,CE,-30,BNMS_4,BANKNIFTY,CTCL
398,2003.0,10-Jan-2024,47600.0,CE,-30,BNMS_5,BANKNIFTY,CTCL
399,2051.0,10-Jan-2024,47600.0,CE,-30,BNMS_3,BANKNIFTY,CTCL
400,2051.0,10-Jan-2024,47600.0,CE,-30,BNMS_4,BANKNIFTY,CTCL
...,...,...,...,...,...,...,...,...
1274,3542.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL
1275,3542.0,11-Jan-2024,21650.0,CE,-100,NMS_6,NIFTY,CTCL
1276,3577.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL
1278,3583.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL
1280,NaN,NaN,NaN,NaN,-33360,NaN,NaN,CTCL

In [16]:
# Drop Nan values
df1_ctcl_positions=df1_ctcl_positions.dropna()

df1_ctcl_positions

,Client,Expiry,Strike Price,Option Type,Net Qty,Strategy,Symbol,Type
396,2003.0,10-Jan-2024,47600.0,CE,-30,BNMS_3,BANKNIFTY,CTCL
397,2003.0,10-Jan-2024,47600.0,CE,-30,BNMS_4,BANKNIFTY,CTCL
398,2003.0,10-Jan-2024,47600.0,CE,-30,BNMS_5,BANKNIFTY,CTCL
399,2051.0,10-Jan-2024,47600.0,CE,-30,BNMS_3,BANKNIFTY,CTCL
400,2051.0,10-Jan-2024,47600.0,CE,-30,BNMS_4,BANKNIFTY,CTCL
...,...,...,...,...,...,...,...,...
1273,2660.0,11-Jan-2024,21650.0,CE,-100,NMS_6,NIFTY,CTCL
1274,3542.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL
1275,3542.0,11-Jan-2024,21650.0,CE,-100,NMS_6,NIFTY,CTCL
1276,3577.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL
1278,3583.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL

In [18]:
# concatenate two files and getting the resultant file

final_df=pd.concat([df_amibroker_positions,df1_ctcl_positions])
final_df

,Client,Expiry,Strike Price,Option Type,Net Qty,Strategy,Symbol,Type
0,6760.0,10-Jan-2024,47800.0,CE,-90,BNMS_1,BANKNIFTY,AMI
1,6760.0,10-Jan-2024,47800.0,PE,-180,BNMS_1,BANKNIFTY,AMI
2,6760.0,10-Jan-2024,47800.0,CE,-120,BNMS_2,BANKNIFTY,AMI
3,6760.0,10-Jan-2024,47800.0,PE,-240,BNMS_2,BANKNIFTY,AMI
4,6760.0,10-Jan-2024,47600.0,CE,-60,BNMS_3,BANKNIFTY,AMI
...,...,...,...,...,...,...,...,...
1273,2660.0,11-Jan-2024,21650.0,CE,-100,NMS_6,NIFTY,CTCL
1274,3542.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL
1275,3542.0,11-Jan-2024,21650.0,CE,-100,NMS_6,NIFTY,CTCL
1276,3577.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL
1278,3583.0,11-Jan-2024,21650.0,CE,-100,NMS_3,NIFTY,CTCL

In [19]:
# Dropping the duplicates to identify the difference in two csv files

output=final_df.drop_duplicates(subset=['Client','Expiry','Strike Price','Option Type','Net Qty','Strategy','Symbol'],keep=False)
output

Empty DataFrame
Columns: [Client, Expiry, Strike Price, Option Type, Net Qty, Strategy, Symbol, Type]
Index: []

In [20]:
#Identifying and reporting if there is a difference

if len(output)>0:
    output.to_csv(path+'difference_file.csv')
    print('There is some difference')
    print(output['Strategy'].unique()) # unique to print distinct strategy that shows error
else:
    print('All positions are fine')

All positions are fine